
// comment1
h1 {
  transform: rotate(10deg);
  color: #00f;
  font-size: 10px;
  background: url('../media/images/bank.png');
}


// comment1
.demo1 {
  transform: rotate(7deg);
  color: #00f;
  font-size: 30px;
  background: url('../media/images/bank.png');
}
/* comment2 */
.demo2 {
  background: url('../media/images/cart_icon.png');
}