<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/build/stylesheets/vendor.min.css">
  <link rel="stylesheet" href="/static/build/stylesheets/index3.min.css">
</head>
<body>
<h1 class="container">Page3</h1>



<a class="btn btn-success" href="/111">按钮1</a>
<a class="btn btn-info" href="/222">按钮2</a>
<a class="btn btn-primary" href="/333">按钮3</a>
<a class="btn btn-warning" href="/444">按钮4</a>

<script src="/static/build/javascripts/vendor.min.js"></script>
<script src="/static/build/javascripts/index3.min.js"></script>
</body>
</html>